.chat-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.504);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #00000094;
    font-size: 32px;
    margin: 0;
}

.theme-toggle {
    cursor: pointer;
    font-size: 24px;
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa3b;
    border-radius: 8px;
    margin-bottom: 20px;
}

.message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.send-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.send-btn:hover {
    background-color: #45a049;
}

.message-bubble {
    max-width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.4;
}

.user {
    background-color: #e1f7d5;
    margin-left: auto;
    text-align: right;
}

.ai {
    background-color: #f1f1f1;
    margin-right: auto;
    text-align: left;
}

.dark-mode {
    background-color: #33333372;
    color: #f4f4f9;
}
.dark-mode h1{
    color: #ffffff;
}

.dark-mode .chat-container {
    background-color: #4444447a;
}

.dark-mode .chat-box {
    background-color: #55555580;
    border-color: #666;
    color: black;
}

.dark-mode .message-input {
    background-color: #666;
    border-color: #888;
    color: #f4f4f9;
}

.dark-mode .send-btn {
    background-color: #333;
}

.dark-mode .send-btn:hover {
    background-color: #222;
}
body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f9; */
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    
    background: url('static/img.jpg'); 
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed; 
}